<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item
              ng-repeat="chats in chats.data | orderBy:'-lastMessage.timestamp'"
              class="item-chat item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap"
              href="#/tab/chats/{{chats._id}}">
        <img ng-src="{{chats.picture}}">
        <h2>{{chats.name}}</h2>
        <p>{{chats.lastMessage.text}}</p>
        <span class="last-message-timestamp">{{chats.lastMessage.timestamp | calendar}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="chats.remove(chats)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>